/* Conteúdo principal */
.classe-conteudo-principal {
  flex: 1; /* Faz com que o conteúdo principal ocupe todo o espaço restante disponível dentro do flexbox. */
  padding: 1rem;
  min-height: 88%;
  background-color: yellow;
  border: 10px solid orange;
}
